<mat-toolbar role="header" color="secondary">
	<button mat-icon-button routerLink='../'>
		<app-icon name='keyboard_backspace' color='black' label='voltar'></app-icon>
	</button>
	<button mat-icon-button>
		<app-icon name='{{iconName}}' color='{{iconColor}}' size={{iconSize}}></app-icon>
	</button>
	<h2>{{title}}</h2>
	<!-- This fills the remaining space of the current row -->
	<span class="fill-space"></span>
<!-- 	<app-icon  *ngIf="save" name='save' color='black'></app-icon>	 -->
	<button *ngIf="add" mat-icon-button routerLink='./novo'>
		<app-icon name='add_box'></app-icon>	
	</button>
</mat-toolbar>