<app-toolbar  [model]=toolbar ></app-toolbar>
<div class="content-full-height ">
<form class="container form mat-elevation-z10">
	<mat-form-field class="full-width">
		<input matInput placeholder="#Código do Fornecedor" disabled value="Será gerado automáticamente.">
	</mat-form-field>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 18 caracteres" required >
			<input matInput #cnpj maxlength="18" placeholder="CNPJ">
			<mat-hint align="end">{{cnpj.value?.length || 0}}/18</mat-hint>
		</mat-form-field></td>
	</tr></table>


	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 9 caracteres" required >
			<input matInput #ie maxlength="9" placeholder="Inscrição Estadual">
			<mat-hint align="end">{{ie.value?.length || 0}}/9</mat-hint>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 50 caracteres" required >
			<input matInput #razao maxlength="50" placeholder="Razão Social">
			<mat-hint align="end">{{razao.value?.length || 0}}/50</mat-hint>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 50 caracteres" required >
			<input matInput #fantasia maxlength="50" placeholder="Nome Fantasia">
			<mat-hint align="end">{{fantasia.value?.length || 0}}/50</mat-hint>
		</mat-form-field></td>
	</tr></table>
	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width">
			<input matInput placeholder="Email" [formControl]="emailFormControl"
			[errorStateMatcher]="matcher">
			<mat-hint></mat-hint>
			<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Favor inserir um email valido
			</mat-error>
			<mat-error *ngIf="emailFormControl.hasError('required')">
				Email <strong>obrigatório</strong>
			</mat-error>
		</mat-form-field></td>
	</tr></table>


	<div class="full-width">
		<button mat-button>Cancelar</button>
		<button mat-button color="warn">Excluir</button>
		<span class="fill-space"></span>
		<button mat-raised-button color="primary">Salvar</button>
	</div>
</form>
</div>