<app-toolbar  title="Novo Usuario" iconName='account_box' save=true></app-toolbar>

<form class="form" >
	<mat-form-field class="full-width">
		<input matInput placeholder="# Código do Usuario" disabled value="Será gerado automáticamente.">
	</mat-form-field>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Nome" required >
			<input matInput #nome maxlength="30" placeholder="Nome">
			<mat-hint align="end">{{nome.value?.length || 0}}/30</mat-hint>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 30 caracteres" required >
			<input matInput #ie maxlength="30" placeholder="Usuario">
			<mat-hint align="end">{{ie.value?.length || 0}}/30</mat-hint>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 30 caracteres" required >
			<input matInput #ie maxlength="30" placeholder="Senha">
			<mat-hint align="end">{{ie.value?.length || 0}}/30</mat-hint>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width" hintLabel="Maximo 30 caracteres" required >
			<input matInput #ie maxlength="30" placeholder="Digite novamente a senha">
			<mat-hint align="end">{{ie.value?.length || 0}}/30</mat-hint>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-form-field class="full-width">
			<input matInput placeholder="Email" [formControl]="emailFormControl"
			[errorStateMatcher]="matcher">
			<mat-hint></mat-hint>
			<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				Favor inserir um email valido
			</mat-error>
			<mat-error *ngIf="emailFormControl.hasError('required')">
				Email <strong>obrigatório</strong>
			</mat-error>
		</mat-form-field></td>
	</tr></table>

	<table class="full-width" cellspacing="0"><tr>
		<td><mat-checkbox>Administrador</mat-checkbox></td>
	</tr></table>
	
	<div class="full-width menu-action">
		<button mat-button>Cancelar</button>
		<button mat-button color="warn">Excluir</button>
		<span class="fill-space"></span>
		<button mat-raised-button color="primary">Salvar</button>
	</div>
</form>
