<app-spiner></app-spiner>
<div  class="example-container background" [class.example-is-mobile]="media.isMobile()" media-query #media='media'>
	<mat-toolbar  role='header' color="primary" *ngIf='!_logged' > 
		<span class="fill-space" ></span>
		<img class='logo' src="assets/logo/logo-navbar-white.png" alt="logo white edp">
		<h1 class='example-app-name'>Emissor de Pedidos</h1>
		<span class="fill-space" ></span>
	</mat-toolbar>

	<mat-toolbar role='header' color="primary" *ngIf='_logged' [hidden]='!media.isMobile()' (click)='snav.toggle()'>		
		<app-icon aria-label="Menu do sistema" name='menu' color='white' label='menu'></app-icon>
		<span class="fill-space"></span>
		<img class='logo' src="assets/logo/logo-navbar-white.png" alt="logo white edp">
		<h1>Emissor de Pedidos</h1>
		<span class="fill-space"></span>
	</mat-toolbar>

	<mat-toolbar class="container" role='header' color="primary" *ngIf='_logged' [hidden]='media.isMobile()'>
		<img class='logo pointer' src="assets/logo/logo-navbar-white.png" alt="logo white edp" routerLink='/'>
		<h1 class='example-app-name pointer' routerLink='/' >Emissor de Pedidos</h1>
		<span class="fill-space"></span>
		<button mat-icon-button routerLink='/pedido/novo'>
			<app-icon aria-label="Criar um novo Pedido" name='add_shopping_cart' color='white' label='Novo Pedido'></app-icon>
		</button>
		<button mat-icon-button routerLink='/pedido'>
			<app-icon aria-label="Abrir a tela de Pedidos" name='assignment' color='white' label='Pedido'></app-icon>
		</button>
		<button mat-icon-button routerLink='/fornecedor'>
			<app-icon aria-label="Abrir a tela de Fornecedor" name='business' color='white' label='fornecedor'></app-icon>
		</button>
		<button mat-icon-button routerLink='/produto'>
			<app-icon aria-label="Abrir a tela de Produtos" name='business_center' color='white' label='produto'></app-icon>
		</button>
		<button mat-icon-button routerLink='/usuario'>
			<app-icon aria-label="Abrir a tela de Usuarios" name='account_box' color='white' label='usuario'></app-icon>
		</button>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<img mat-card-avatar src="{{_user.foto}}" class="header-image-icon " alt="Foto do {{_user.nome}}">
		</button>
		<mat-menu #menu="matMenu">
			<ui-navbar-user></ui-navbar-user>
		</mat-menu>
	</mat-toolbar>

	<mat-sidenav-container class="example-sidenav-container" >
		<mat-sidenav #snav [mode]="media.isMobile() ? 'over' : 'side'"	[fixedInViewport]="media.isMobile()" fixedTopGap="57">
			<mat-nav-list class='no-padding' (click)='snav.toggle()' *ngIf='_logged'>
				<ui-navbar-user class="item card no-radius"></ui-navbar-user>
				<a class='item' mat-list-item routerLink='/pedido/novo'>
					<app-icon class='icon' aria-label="Criar um novo Pedido" name='add_shopping_cart' color='black'  label='Novo Pedido'></app-icon>Novo Pedido
				</a>
				<mat-divider></mat-divider>
				<a class='item' mat-list-item ui-stop-event (click)='navegate("/pedido")' >
					<app-icon class='icon' aria-label="Abrir a tela de Pedidos" name='assignment' color='black' label='Pedido'></app-icon>Pedidos
					<span class="fill-space"></span>
					<button mat-icon-button ui-stop-event (click)='navegate("/pedido/novo")' >
						<app-icon  aria-label="Adicionar Pedidos" name='add_box' color='black' label='fornecedor'></app-icon>
					</button>
				</a>
				<mat-divider></mat-divider>
				<a class='item'  mat-list-item ui-stop-event (click)='navegate("/fornecedor")' >
					<app-icon class='icon' aria-label="Abrir a tela de Fornecedor" name='business' color='black' label='fornecedor'></app-icon>
					Fornecedor
					<span class="fill-space"></span>
					<button *ngIf="_adm" mat-icon-button ui-stop-event (click)='navegate("/fornecedor/novo")'>
						<app-icon aria-label="Adicionar  Fornecedor" name='add_box' color='black' label='fornecedor'></app-icon>
					</button>
				</a>
				<mat-divider></mat-divider>
				<a class='item' mat-list-item ui-stop-event (click)='navegate("/produto")'>
					<app-icon class='icon' aria-label="Abrir a tela de Produtos" name='business_center' color='black' label='produto'></app-icon>
					Produto
					<span class="fill-space"></span>
					<button *ngIf="_adm" mat-icon-button ui-stop-event (click)='navegate("/produto/novo")'>
						<app-icon aria-label="Adicionar Produtos" name='add_box' color='black' label='fornecedor'></app-icon>
					</button>
				</a>
				<mat-divider></mat-divider>
				<a class='item' mat-list-item ui-stop-event (click)='navegate("usuario")'>
					<app-icon class='icon' aria-label="Abrir a tela de Usuarios" name='account_box' color='black' label='usuario'></app-icon>
					Usuario
					<span class="fill-space"></span>
					<button *ngIf="_adm" mat-icon-button ui-stop-event (click)='navegate("/usuario/novo")'>
						<app-icon aria-label="Adicionar Usurios" name='add_box' color='black' label='fornecedor'></app-icon>
					</button>
				</a>
				<mat-divider></mat-divider>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content *ngIf='snav.opened && _logged' (click)='snav.toggle()' class='content'></mat-sidenav-content>

	</mat-sidenav-container>
</div>
