<div  class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
	<mat-toolbar class='teste' role='header' color="primary" *ngIf='!guard.canActivate()' > 
		<span class="fill-space" ></span>
		<button mat-icon-button>
			<img class='logo' src="assets/logo/logo-navbar-white.png" alt="logo white edp">
		</button>
		<span class="fill-space" ></span>
	</mat-toolbar>

	<mat-toolbar role='header' color="primary" *ngIf='guard.canActivate()' >
		<button mat-icon-button (click)='snav.toggle()' [hidden]='!mobileQuery.matches' >
			<app-icon aria-label="Menu do sistema" name='menu' color='white' label='menu'></app-icon>
		</button>
		<span class="fill-space" [hidden]='!mobileQuery.matches'></span>
		
		<button mat-icon-button (click)='snav.toggle()'>
			<img class='logo' src="assets/logo/logo-navbar-white.png" alt="logo white edp">
		</button>
		<h1 (click)='snav.toggle()' class='example-app-name'>Emissor de Pedidos</h1>
		<!-- This fills the remaining space of the current row -->
		<span class="fill-space"></span>

		<span [hidden]='mobileQuery.matches' >
			<button mat-icon-button routerLink='/pedido'>
				<app-icon aria-label="Abrir a tela de Pedidos" name='add_shopping_cart' color='white' label='pedido'></app-icon>
			</button>
			<button mat-icon-button routerLink='/fornecedor'>
				<app-icon aria-label="Abrir a tela de Fornecedor" name='business' color='white' label='fornecedor'></app-icon>
			</button>
			<button mat-icon-button routerLink='/produto'>
				<app-icon aria-label="Abrir a tela de Produtos" name='business_center' color='white' label='produto'></app-icon>
			</button>
			<button mat-icon-button routerLink='/usuario'>
				<app-icon aria-label="Abrir a tela de Usuarios" name='account_box' color='white' label='usuario'></app-icon>
			</button>
			<button mat-icon-button  [routerLink]="['/login']">
				<app-icon aria-label="Sair do Emissor de Pedidos" name='exit_to_app' color='white' label='sair'></app-icon>
			</button>
		</span>
	</mat-toolbar>

	<mat-sidenav-container class="example-sidenav-container">
		<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"	[fixedInViewport]="mobileQuery.matches" fixedTopGap="57">
			<mat-nav-list>
				<a mat-list-item routerLink='/pedido'>
					<app-icon aria-label="Abrir a tela de Pedidos" name='add_shopping_cart' color='black' label='pedido'></app-icon>Pedido
				</a>
				<a mat-list-item routerLink='/fornecedor'>
					<app-icon aria-label="Abrir a tela de Fornecedor" name='business' color='black' label='fornecedor'></app-icon>
					Fornecedor
				</a>
				<a mat-list-item  routerLink='/produto'>
					<app-icon aria-label="Abrir a tela de Produtos" name='business_center' color='black' label='produto'></app-icon>
					Produto
				</a>
				<a mat-list-item routerLink='/usuario'>
					<app-icon aria-label="Abrir a tela de Usuarios" name='account_box' color='black' label='usuario'></app-icon>
					Usuario
				</a>
				<a mat-list-item >
					<app-icon aria-label="Sair do Emissor de Pedidos" name='exit_to_app' color='black' label='sair'></app-icon>
					Sair
				</a>
			</mat-nav-list>
		</mat-sidenav>
	</mat-sidenav-container>
</div>
