
.description { 
	white-space: nowrap;

	text-align: right;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	font-style: italic;
	margin-right: 10px !important;
}

.title-total {
	position: absolute;
	right: 10px;
	white-space: normal;
	font-weight: 500;
}


.title {
	align-items: center;
	width: 100%;
	text-align: left;
}

.title .icon {
	padding-right: 10px;
}

.title .sub-line{
	font-size: 0.8rem;
	font-weight: 500;
	font-style: italic;
	color: rgba(0,0,0,0.4);
	text-align: center;
}


.sub-line:first-letter{
	text-transform: capitalize;
}

.mat-column-id {
	max-width: 50px;
	text-align: left;
}

.mat-column-descritivo {
	text-align: left;
	padding-left: 4px;
}


.mat-column-valor {
	max-width: 100px;
	text-align: right;
	padding-left: 4px;
}

.mat-header-row,
.mat-row {
	padding: 0px;
	padding-right: 4px;
	padding-left: 4px;
}

.row{
	margin : 0px;
}