/* Structure */
.container {
  display: flex;
  flex-direction: column;
  max-height: 605px;
  min-width: 300px;
  position: relative;
}

.navbar {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.table {
  overflow: auto;
  min-height: 300px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-column-produto{
 text-align: left;
}

.mat-column-estoque {
  max-width: 124px;
  text-align: left;
}
.mat-column-edit{
  max-width: 124px;
}

.mat-column-id  {
  text-align: left;
  max-width: 64px;
}
