.content-full-height {
  position: absolute;
  top: 128px; /* Header Height */
  bottom: 20px; /* Footer Height */
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 300px;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0px;
}


.is-mobile {
  top: 112px; /* Header Height */
  bottom: 0px; /* Footer Height */
}

.is-mobile .container{
  padding-right: 0px !important;
  padding-left: 0px !important;   
}
