<div *ngIf="!loading else load">
	<ng-content></ng-content>	
</div>
<ng-template #load>
	<mat-progress-bar [mode]='modo' [value]='progress' color='accent'	></mat-progress-bar>
	<div class='body'>
		<div class='content'> 
			<div class='img-frame'>
				<img class='logo' src="assets/logo/logo-navbar-white.png" alt="logo white edp">
			</div>
			<span class='message'>{{message == null ? 'carregando' : message}}<span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span></span>
			
		</div>
	</div>
</ng-template>

